<footer class="text-center">
    <div class="container">
        <p class="branding">Warathatul Ambiya</p>
       
        <p>
            <a asp-controller="Home" asp-action="About">About Us  </a>  |
            <a asp-controller="Home" asp-action="Faq">FAQ  </a>   |
            <a asp-controller="Home" asp-action="Privacy">Privacy Policy  </a>   |
            <a asp-controller="Home" asp-action="Terms">Terms and Conditions</a>
        </p>
        <p>
            <i class="bi bi-envelope icon"></i>
            <a href="mailto:admin@warathatulambiya.com">admin@warathatulambiya.com</a>
        </p>

        <p>
            © @DateTime.Now.Year - The Private Library
        </p>

        <a onclick="scrollToTop()" style="cursor: pointer;">
            ↑ Back to Top
        </a>
    </div>
</footer>


<script>
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>
