<style>
    footer p {
        font-family: 'Noto Sans Arabic', sans-serif;
        margin-bottom: 0.5rem;
    }

    footer .fst-italic {
        font-style: italic;
    }
</style>

<footer class="border-top footer text-muted text-center py-4 bg-light">
    <div class="container">
        <p class="mb-1">Warathatul Ambiya</p>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
        <p>© @DateTime.Now.Year - PrivateLMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </div>
</footer>