<footer class="text-center">
    <div class="container">
        <p class="branding">Warathatul Ambiya</p>
        <p>
            <i class="bi bi-house icon"></i>
            <a asp-controller="Home" asp-action="Index">Back to Home</a>
        </p>
        <p>
            <i class="bi bi-shield-lock icon"></i>
            <a asp-controller="StaticPages" asp-action="Privacy">Privacy Policy</a>
        </p>
        <p>
            <i class="bi bi-envelope icon"></i>
            <a href="mailto:admin@warathatulambiya.com">admin@warathatulambiya.com</a>
        </p>
        <p>
            © @DateTime.Now.Year - PrivateLMS
        </p>
    </div>
</footer>
