<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">Warathatul Ambiya</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto align-items-lg-center">

                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="adminDropdown">
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item" asp-controller="UserActivities" asp-action="Index">Activity Log</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-controller="Books" asp-action="Index">Books</a></li>
                            <li><a class="dropdown-item" asp-controller="Authors" asp-action="Index">Authors</a></li>
                            <li><a class="dropdown-item" asp-controller="Categories" asp-action="Index">Categories</a></li>
                            <li><a class="dropdown-item" asp-controller="Publishers" asp-action="Index">Publishers</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" asp-controller="Loans" asp-action="Index">Loans</a></li>
                            <li><a class="dropdown-item" asp-controller="Fines" asp-action="Index">Fines</a></li>
                            <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">Users</a></li>
                        </ul>
                    </li>
                }
                else if (User.IsInRole("User"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Hello, @User.Identity.Name
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                            <li><a class="dropdown-item" asp-controller="Books" asp-action="Recommendations">Recommendations</a></li>
                            <li><a class="dropdown-item" asp-controller="Loans" asp-action="MyLoans">My Loans</a></li>
                            <li><a class="dropdown-item" asp-controller="Fines" asp-action="MyFines">My Fines</a></li>
                        </ul>
                    </li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Authors" asp-action="Index">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Registration" asp-action="Step1">Register</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
